.host {
    width: 20%;
    flex-basis: auto;
    flex-grow: 0;
}

.__name {
    height: 60px;
}
.__picture {
    object-fit: cover;
    object-position: top;
    height: 200px;
}
.__card {
    position: relative;
    border: none;
    background-color: #331c0e;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: 400px;
    display: flex;
    flex-direction: column;
}
.__overlay {
    border-radius: 0.25rem;
    position: absolute;
    padding: 25px 15px;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
}
.host:nth-child(even) .character__overlay {
    top: 100%;
}
.host:hover .character__overlay {
    opacity: 1;
    pointer-events: all;
    top: 0;
}
.__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.__action {
    background-color: #67331e;
    color: #fff;
    width: 80%;
}
