.host {
    display: initial;
}

.characters-list {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    min-height: 100vh;
    align-items: center;
    gap: 50px;
    list-style: none;
}
